* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
}

.row-section {
    padding: 50px 0;
}

.container {
    margin: 0 auto;
    max-width: 1175px;
}

/* nav-bar */
.nav-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #892c40;
    color: white;
    align-items: center;
}

.num a,
.email a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    font-size: 14px;
}

.num svg,
.email svg {
    margin-right: 10px;
    fill: #ffffff;
    margin-top: 2px;
}

.contact {
    margin-left: 30px;
    display: flex;
    gap: 20px;
}

.social {
    margin-right: 30px;
}

.contact svg {
    width: 16px;
}

.social a {
    margin-right: 15px;
    display: inline-block;
    border-radius: 30px;
    padding: 3px 7px;
    border: 1px solid #ffffff;
}


.nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: #ffffff;
}

.logo-wrap {
    width: 180px;
}

.logo-wrap img {
    width: 100%;
}

#menuToggle {
    font-size: 28px;
    color: #5F1D2B;
    cursor: pointer;
    display: none;
}

.toggle-icon {
    display: none;
}

.menu,
.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu ul {
    margin-right: 15px;
}

.menu ul li {
    margin-right: 50px;
    position: relative;
}

.menu ul li a,
.cta a {
    font-weight: 500;
    color: #333;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
}

/* .menu ul li a {
    position: relative;
} */

/* .menu ul li a::after {
    content: "";
    position: absolute;
    left: 17px;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #5F1D2B;
    transition: width 0.3s ease;
}

.menu ul li a:hover::after {
    width: 65%;
} */

.menu ul li a:hover {
    color: #a52f2b;
}

#hamburger,
#cancel {
    font-size: 28px;
    color: #5F1D2B;
    cursor: pointer;
    display: none;
}

.submenu ul li {
    position: relative;
}

.menu .submenu {
    position: absolute;
    top: 43px;
    left: -30px;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 10px 0;
    min-width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    flex-direction: column;
    margin: 0;
}

.menu .submenu li {
    margin: 0;
}

/* .submenu-new {
    left: 698px !important;
} */

.menu ul li:hover>.submenu {
    opacity: 1;
    visibility: visible;
}

.submenu li a {
    padding: 10px 20px;
    color: #333;
    white-space: nowrap;
    display: block;
}

.d-flex {
    display: flex;
    align-items: center;
}




/* banner-section */
.bg-light {
    background-color: #f6e8d7;
}

.banner-wrap {
    background: url(img/banner-bg-img.png);
    display: flex;
    justify-content: space-between;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* align-items: center; */
}

.banner-right,
.banner-left {
    width: 50%;
}

.banner-right img {
    width: 100%;
}

.banner-content h1 {
    font-weight: 600;
    color: #000000;
    font-size: 36px;
    line-height: 1.2;
}

.banner-content {
    margin-left: 70px;
}

.block {
    display: block;
}

.banner-content h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 20px;
}

.social a img {
    width: 25px;
}

.cta a {
    border-radius: 20px;
    background-color: #892c40;
    color: #ffffff;
}

.banner-left .cta {
    margin-left: 70px;
    margin-top: 50px;
    font-size: 12px;
}

.banner-left .cta .first {
    background-color: #ffffff;
    color: #892c40;
    border: 1px solid #892c40;
    margin-right: 10px;
}

.banner-left .cta .first:hover {
    background-color: #892c40;
    color: #ffffff;
}

.cta a:hover {
    background-color: #ffffff;
    color: #892c40;
    border: 1px solid #892c40;
}



/* about-section */
.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.about-content {
    width: 50%;
}

.about-img {
    width: 650px;

}

.about-img img {
    width: 100%;
    border-radius: 30px;
}

.about-content h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #5F1D2B;
    text-transform: uppercase;
}

.about-content span {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;
    display: inline-block;
}

.about-content p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    text-align: left;
    margin-bottom: 10px;
}

/* highlight-section */
.highlights {
    background-color: #f6e8d7;
    color: #000000;
    height: 150px;
    margin: 0 20px;
}

.high-head {
    text-align: center;
}

.high-head h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #5F1D2B;
    text-transform: uppercase;
}

.high-head span {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;
    display: inline-block;
}

.high-content {
    display: flex;
    /* margin-top: 30px; */
    justify-content: space-between;
}

.high-child {
    width: 180px;
    height: 130px;
    background-color: #892c40;
    color: #ffffff;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    top: 42px;
    /* border: 1px solid #5F1D2B; */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.high-child h2 {
    margin-top: 30px;
}

.high-child span {
    margin-top: 10px;
    display: inline-block;
}



/* service-section */
.sevices {
    margin-top: 100px;
}

.card-parent {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.cards {
    width: 270px;
    border: 1px solid #892c40;
    border-radius: 20px;
    text-align: center;
    height: auto;
    padding: 0 15px;
    background-color: #f6e8d7;
}

.cards h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
}

.cards p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 10px;
}

.cards .cta {
    margin: 15px 0;
}

.service-head {
    text-align: center;
}

.service-head h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #5F1D2B;
    text-transform: uppercase;
}

.service-head p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 10px;
    display: inline-block;
}

.card-img-wrap {
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
}

.card-img-wrap img {
    width: 100%;
}



/* set-us-apart section */
.set-us {
    display: flex;
}

.set-left,
.set-right {
    width: 50%;
}

.set-head h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #5F1D2B;
    text-transform: uppercase;
}

.service-head p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 10px;
    display: inline-block;
}

.set-content {
    margin-top: 30px;
}

.set-content h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
}

.set-content ul {
    margin-top: 10px;
}

.set-content ul li {
    margin-bottom: 10px;
    margin-left: 20px;
}

.set-us .cta {
    margin-top: 30px;
}

.set-right img {
    width: 100%;
}


/* client-section */
.client-wrap {
    text-align: center;
}

.client-head h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #5F1D2B;
    text-transform: uppercase;
}

.client-head span {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;
    display: inline-block;
}

.client {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.client-card {
    width: 24%;
    border: 1px solid rgba(208, 208, 208, .5);
    border-top-color: transparent;
    padding: 20px;
    min-height: 161px;
}

.client-card img {
    width: 70%;
}

.bd-trans {
    border-bottom: transparent;
}



/* testimonial section*/
.testimonial {
    text-align: center;
}

.test-head h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #5F1D2B;
    text-transform: uppercase;
}

.test-head span {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;
    display: inline-block;
}

.test-body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
    margin-top: 50px;
    justify-content: space-between;
}

.test-card {
    width: 32%;
    box-shadow: 0 14px 23px rgba(28, 37, 44, .08);
    border-radius: 20px;
    background-color: #ffffff;
    min-height: 314px;
    padding: 30px;
    text-align: left;
    position: relative;
}

/* .mr-rt-bt {
    margin: 0 40px 50px 0;
}

.mb {
    margin-bottom: 50px;
} */

.test-mid p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 10px;
    color: #808a9f;
    display: inline-block;
    min-height: 166px;
}

.alg-lt {
    margin-top: 10px;
}

.alg-lt h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}

.alg-lt span {
    display: block;
    font-size: 14px;
    color: #808a9f;
    line-height: 1.5;
    font-weight: 400;
}

.tp-quote {
    position: absolute;
    top: 0;
    left: 10px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    font-style: normal;
    color: #5F1D2B;
    font-family: Lato;
}

.btm-quote {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    font-style: normal;
    color: #5F1D2B;
    font-family: Lato;
    transform: rotate(180deg);
}



/* faq and form section */
.info-wrap {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.faq {
    width: 60%;

}

.faq-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #5F1D2B;
    text-transform: uppercase;
    text-align: center;
}


.accordion-item {
    border: 1px solid #892c40;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #fff0e5;
}

.accordion-header {
    padding: 8px 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.accordion-header .icon {
    font-size: 20px;
    color: #892c40;
    transition: transform 0.3s ease;
}

.accordion-body {
    display: none;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
}

.accordion-item.active .accordion-body {
    display: block;
}

.accordion-item.active .icon {
    transform: rotate(45deg);
    /* Makes + look like x */
}

/* form */
.form-wrap {
    flex: 0 0 400px;
    background: #fff;
    border-radius: 20px;
    padding: 25px 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
    width: 50%;
    margin-top: 60px;
}

.contact-form h3 {
    font-size: 20px;
    font-weight: 700;
    color: #892c40;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contact-form input,
.contact-form select {
    width: 100%;
    padding: 12px 14px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    height: 48px;
    margin-bottom: 15px;
}

.contact-form select {
    appearance: none;
    background: url("data:image/svg+xml,<svg fill='black' height='20' width='20' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 14px center/14px;
}
.term-condition{
    display: flex;
}
.term-condition p{
    font-size: 10px;
}
.term-condition input{
    width: 3%;
    height: 3%;
    margin-right: 5px;
    margin-bottom: 0;
    margin-top: 1px;
}
.phone-wrap {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.phone-wrap .flag {
    font-size: 14px;
    white-space: nowrap;
    margin-right: 10px;
}

.phone-wrap input {
    border: none;
    outline: none;
    flex: 1;
    height: 100%;
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.contact-form label {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;
    color: #5F1D2B;
}

.contact-form button {
    background: linear-gradient(to right, #892c40, #5F1D2B);
    border: none;
    width: 100%;
    padding: 12px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 10px;
}

.contact-form button:hover {
    opacity: 0.9;
}

select:invalid {
    color: #999;
}

select option {
    color: #000;
}

/* footer */

/* footer-top */
.footer-top,
.foot-right {
    display: flex;
    justify-content: space-between;
}

/* .foot-right{
    width: 70%;
} */
.border-top {
    border: 1px solid rgba(211, 211, 211, 0.5);
}

.foot-left {
    width: 25%;
}

.foot-logo {
    width: 280px;
}

.foot-logo img {
    width: 100%;
}

.foot-right {
    width: 70%;
}

.list {
    width: 30%;
}

.list li {
    list-style: none;
    display: flex;
    align-items: center;
}

.list li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 10px;
    display: inline-block;
    color: #000000;
}

.list li a:hover {
    color: #5F1D2B;
    font-weight: 400;
}

.list h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    margin: 25px 0 20px 0;
    color: #5F1D2B;
    text-transform: uppercase;
}

.foot-left p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin-left: 5px;
}

.border-top .social svg {
    fill: #5F1D2B;
}

.border-top .social {
    margin: 15px 0 15px 5px;
}

.border-top .social a {
    padding: 0;
    border: 0;
    border-radius: 0;
    margin-right: 25px;
}

.list ul li span {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 4px;
}

.footer-botm {
    display: flex;
    justify-content: space-between;
}
.footer-botm span{
    font-size: 14px;
      margin: 12px 20px;
}
.font a{
    font-size: 12px!important;
}

.footer-botm span a{
  
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #000000;
    text-decoration: none;
}


/* float-whatsapp */

.whatsapp-float {
    position: fixed;
    bottom: 48px;
    right: 30px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.whatsapp-float img {
    width: 100%;
    height: 100%;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}


/* mobile-view */
@media (max-width:768px) {
    .nav-top {
        width: 100%;
        padding: 10px;
        /* flex-direction: column; */

    }

    .contact {
        flex-direction: column;
        margin: 0 0 2px 0;
        gap: 5px;
        justify-content: center;
    }

    .social {
        margin: 0;
    }

    .social a {
        margin: 0;
    }

    .container {
        margin: 0 10px;
        max-width: 100%;
    }

    .banner-wrap {
        flex-direction: column;
    }

    .banner-left,
    .banner-right {
        width: 100%;
    }

    .banner-content {
        margin: 0;
    }

    .banner-left .cta {
        margin: 0;
        display: flex;
        justify-content: space-around;
    }

    .banner-left .cta a {
        margin: 10px 0;
        padding: 10px 10px;
        font-size: 14px;
    }

    .first {
        margin: 10px 0;
    }

    .about-us {
        flex-direction: column;
    }

    .about-content {
        width: 100%;
    }

    .about-img {
        width: 100%;
        margin-top: 20px;
    }

    .highlights {
        margin: 0;
        height: auto;
    }

    .high-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-top: 50px;
    }

    .high-child {
        width: 45%;
        margin-bottom: 20px;
        z-index: auto;
        position: static;
    }

    .sevices {
        margin: 0;
    }

    .card-parent {
        flex-direction: column;
        gap: 20px;
    }

    .cards {
        width: 100%;
    }

    .set-us {
        flex-direction: column;
    }

    .set-left,
    .set-right {
        width: 100%;
    }

    .client {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .client-card {
        width: 45%;
        padding: 10px;
        min-height: 119px;
        display: flex;
        align-items: center;
    }

    .client-card img {
        width: 100%;
    }

    .client .client-card:nth-child(13),
    .client .client-card:nth-child(14) {
        border-bottom: 1px solid rgba(208, 208, 208, .5);
    }

    .test-body {
        flex-direction: column;
        gap: 15px;
    }

    .test-card {
        width: 100%;
    }

    .info-wrap {
        flex-direction: column;
        gap: 0;
    }

    .faq,
    .form-wrap {
        width: 100%;
    }

    .form-wrap {
        margin-top: 30px;
    }

    .contact-form h3 {
        text-align: center;
    }

    .footer-top {
        flex-direction: column;
    }

    .foot-left,
    .foot-right {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foot-right {
        flex-direction: column;
    }

    .list,
    .list ul li {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .list ul {
        text-align: center;
    }

    .list ul li {
        flex-direction: row !important;
        text-align: center;
    }

    .menu {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        display: none;
        z-index: 999;
    }

    .menu.show {
        display: flex;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid #000;
    }

    .menu.show ul {
        width: 100%;
    }

    .menu.show ul li {
        width: 100%;
        margin: 0;
    }

    .menu.show ul li a {
        padding: 0 10px;
        margin: 0;
        border-bottom: 0px solid #e45252;
        width: 100%;
    }

    .menu ul {
        flex-direction: column;
        gap: 10px;
        margin-right: 0;
    }

    .cta {
        margin-top: 10px;
    }

    #hamburger {
        display: block;
    }

    #cancel {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .nav-bottom {
        position: sticky;
        top: 0;
        z-index: 99999;
        padding: 10px;
        background-color: #fff;
    }

    .logo-wrap {
        width: 140px;
    }

    .menu ul li:hover>.submenu {
        opacity: 1;
        visibility: visible;
    }

    #menuToggle {
        display: block;
    }

    .has-submenu {
        /* position: relative; */
        /* display: flex; */
        justify-content: space-between;
        align-items: center;
        /* width: 100%; */
    }

    .toggle-icon {
        display: block;
    }

    .has-submenu .toggle-icon {
        /* margin-left: auto; */
        margin-right: 20px;
        font-size: 22px;
        cursor: pointer;
        color: #5F1D2B;
    }

    .has-submenu .submenu {
        display: none;
        flex-direction: column;
        /* width: 100%; */
        background: #ffffff;
        /* padding-left: 15px; */
        border: none;
        box-shadow: none;
    }

    .has-submenu.active .submenu {
        display: flex;
    }

    .menu .submenu {
        position: unset;
    }

    .footer-botm span {
        margin: 5px;
        font-size: 12px;
    }

    .footer-botm {
        align-items: center;
        flex-direction: column;
    }
}



/* about-page-internal*/
.about-new {
    background: url(img/banner-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.about-new h1 {
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    line-height: 1.2;
}

.about-new h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 20px;
    color: #fff;
}

.about-new-head {
    margin: 0 50px;
    padding: 100px 0;
}

.about-page .about-us {
    gap: 0;
}

.about-page .about-us .about-img,
.about-page .about-us .about-content {
    width: 50%;
}

.mr-70 {
    margin-right: 70px;
}

.ml-70 {
    margin-left: 70px;
}

.about-page .about-us .founder-img {
    width: 400px;
}


@media (max-width: 768px) {
    .about-new {
        background-position: top;
        background-size: cover;
        min-height: 250px;
    }

    .about-new-head {
        margin: 0 10px;
        padding: 50px 0;
    }

    .about-new-head h3 {
        width: 343px;
        font-size: 16px;
    }

    br {
        display: none;
    }

    .about-page .about-us .mr-70,
    .about-page .about-us .ml-70 {
        margin: 0;
    }

    .about-page .about-us .about-content,
    .about-page .about-us .about-img {
        width: 100%;
    }

    .od-1 {
        order: 1;
    }

    .od-2 {
        order: 2;
    }
}




/* contact-page-internal */
.about-new.contact-bg {
    background: url(img/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 0;
}

.contact-bg h1 {
    color: #000000;
}

.contact-page .about-content h2 {
    margin-left: 10px;
}

.Address {
    background-color: #fff0e5;
    padding: 30px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.address-img {
    width: 50%;
    height: 470px;
    border: 1px solid #000;
}

.address-img iframe {
    width: 100%;
    height: 100%;
}
.Address p {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.Address svg {
    margin-top: 2px;
    padding-right: 5px;
}

.Address p a {
    text-decoration: none;
    color: #000;
}

.Address h2 {
    margin-bottom: 0;
}

.Address svg {
    width: 20px;
    height: 20px;
}

.svg-up svg {
    margin-bottom: 20px !important;
}
.career-page .about-content span a{
    text-decoration: none;
    color: #5F1D2B;
}

@media (max-width:768px) {
    .address-img {
        width: 100%;
    }

    .Address {
        min-height: 155px;
    }

    .contact-page .about-us {
        gap: 20px;
    }

    .mr-70 {
        margin-right: 0;
    }
}






/* career-page-internal */
.career-page .about-new{
    background: url(img/hiring-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}
.career-page h1{
    color: #000;
}
.hiring h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #5F1D2B;
    text-transform: uppercase;
    text-align: center;
}
.career-page .about-content p{
    margin-bottom: 20px;
}
.job-table {
  overflow-x: auto;
}

.job-table table {
  width: 100%;
  border-collapse: collapse;
}

.job-table th,
.job-table td {
  padding: 25px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.job-table th {
  font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;
}

.apply-btn {
    border-radius: 20px;
    background-color: #892c40;
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid transparent;
  }

  .apply-btn:hover {
    background-color: #ffffff;
    border:1px solid #5F1D2B;
    color: #5F1D2B;
  }

/* Mobile Responsive */
@media (max-width: 768px) {
  .job-table table,
  .job-table thead,
  .job-table tbody,
  .job-table th,
  .job-table td,
  .job-table tr {
    display: block;
    width: 100%;
  }
.career-page .about-new{
    background-position: left;
}
  .job-table thead {
    display: none;
  }

  .job-table tr {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
  }

  .job-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .job-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 16px;
    width: 45%;
    font-weight: bold;
    text-align: left;
    color: #333;
  }
   .job-table td[data-label="Apply"]::before {
    display: none;
  }

  .job-table td[data-label="Apply"] {
    text-align: center;
    padding-left: 0;
  }
}





/* client and parter-page */
.client-page .about-new{
    background: url(img/corporate-teamwork.avif);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}
.client-page .about-new h1{
    color: #000000;
}
.clients-head{
    text-align: center;
    margin-bottom: 50px;
}
.clients-head h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #5F1D2B;
    text-transform: uppercase;
}
.clients-head span{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;
    display: inline-block;
}
.clients-child{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 30px;
}
.child-one{
    display: flex;
    align-items: center;
    border: 1px solid #5F1D2B;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px 20px ;
    min-height: 189px;
}
.child-logo {
    width: 50%;
    border-right: 1px solid rgba(153, 153, 153, 0.3);
    
}
.child-logo img{
    width: 100%;
    padding-right: 10px;
}
.child-detail{
    width: 60%;
    padding-left: 20px;
}
.child-detail h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
}
.child-detail p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #808a9f;
    display: inline-block;
}
.partner-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.partner-one{
min-height: 123px ;
border: 1px solid #5F1D2B;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.partner-logo{
    width: 110px;
}
.partner-logo img{
    width: 100%;
}
.consultant-page .about-new-head h1{
    color: #000000;
}
@media (max-width:768px){
    .clients-head{
        margin-bottom: 20px;
    }
    .clients-child{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
    .child-one{
        width:100%;
    }
    .partner-child{
        flex-wrap: wrap;
        gap: 10px;
    }
    .partner-one{
        width: 45%;
    }
}



/* consultant-network */
.cr-gap{
    gap: 10px;
}
.cr-gap>.cards{
    width: 225px;
}
.mb-10{
    margin-bottom: 10px;
}
.consultant-page .sevices{
    margin-top: 0;
}
.consultant-page .about-new{
    background: url(img/consultant-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}
@media (max-width:768px){
    .cr-gap{
        gap: 20px;
        align-items: center;
    }
    .cr-gap>.cards{
        width: 90%;
        height: 200px;
    }
}



/* admission-support */
.admission-support-page .about-new{
    background: url(img/Admission-support-new.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}
.admission-support-page h1{
    color: #000000;
}
@media (max-width:768px){
    .ml-70{
        margin: 0;
    }
}





/* testimonial-page */
.testimonial-page .test-body{
    gap: 50px;
    justify-content: center;
}
.testimonial-page .test-card{
    width: 40%;
}
.testimonial-page .about-new{
    background: url(img/testimonial.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}
@media (max-width:768px){
    .testimonial-page .test-body{
        gap: 20px;
        margin-top: 20px;
    }
    .testimonial-page .test-card{
        width: 100%;
    }
}


/* news-page */
.news{
    display: flex;  
    gap: 50px;
}
.news-img-wrap{
    width:35%;
}
.news-img-wrap img{
    width: 100%;
    border-radius: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.news-disc{
    padding: 20px 30px;
    width: 70%;
}
.news-disc span{
font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;
    display: inline-block;
}
.news-disc p{
font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin-left: 5px;
    margin-bottom: 20px;
}
.news-page .about-new{
    background: url(img/news.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}
.news-disc{
    border-radius: 20px;
}
@media (max-width:768px){
    .news{
        flex-direction: column;
        gap: 20px;
    }
    .news-img-wrap{
        width: 100%;
    }
    .news-disc{
        width: 100%;
    }
}



/* erp-crm-page */
.erp-crm-page .sevices{
    margin-top: 0;
}
.erp-crm-page .cards p{
    margin-bottom: 20px;
}
.erp-crm-page .service-head span{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;
    display: inline-block;
}
.erp-crm-page .about-new{
    background: url(img/erpandcrm-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}




/* publishing-page */
.publishing-page .about-new{
    background: url(img/publish-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}
.publishing-page .about-new h1{
    color: #000000;
}
.publishing-page .sevices{
    margin-top: 0;
}
.publishing-page .cards h4{
    margin-bottom: 20px;
}
.publishing-page .service-head span{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;
    display: inline-block;
}
.publishing-page .cards {
    width: 180px;
}
.publications-wrap h2{
font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #5F1D2B;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.pub-card-wrap{
    display: flex;
    justify-content: space-between;
}
.pub-img-wrap{
    /* width: 30%; */
    height: 250px;
}
.pub-img-wrap img{
    width: 100%;
    height: 100%;
}
.pub-card{
    width: 30%;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0 0 10px 10px;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(100,100,100,0.5);
     transition: box-shadow 0.3s ease-in-out;
}
.pub-card:hover{
    box-shadow:0 6px 16px rgba(100,100,100,0.4);
}
.pub-card h4{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    padding: 10px ;
}
@media(max-width:768px){
    .publishing-page .card-parent{
        align-items: center;
    }
    .publishing-page .cards{
        width: 80%;
    }
    .pub-card-wrap{
        flex-direction: column;
        gap: 20px;

    }
    .pub-card{
        width: 100%;
    }
}







/* tnc-page */
.tnc-head{
    margin-bottom: 50px;
    text-align: center;
}px
.tnc-head h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #5F1D2B;
    text-transform: uppercase;
}
.tnc-head span{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 1050px;
    margin: 0 auto;
}
.tnc-one{
    margin-bottom: 15px;
}
.tnc-one h4{
    /* font-size: 24px;
    font-weight: 500;
    line-height: 1; */
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
}
.tnc-one p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    margin-bottom: 10px;
    padding-left: 30px;
}
.tnc-body .Address{
        background-color: unset;
    padding: 0;
    margin-bottom:0;
    border-radius: 0;
}
.bold{
    font-weight: 600;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}
